/* Responsive styles
================================================== */

/* Large Devices, Wide Screens */
@media (min-width : 1200px) {
	.dropdown i{
		display: none;
	}
}


/* Medium Devices, Desktops */
@media (min-width : 992px) {

}

/* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {
	.heading-inner::before,.heading-inner::after{
		display: none;
	}
	.navbar-brand {
	    height: 15px;
	    padding: 10px 7px;
	}
	.nav > li > a {
	    padding: 15px 5px;
	    font-size: 12px;
	}
	.columns {
	    margin-bottom: 35px;
	}
	.columns:after{
		border: none;
	}
	.flaoting-img{
		margin: 30px 0px;
	}
}

/* Custom, iPhone Retina */
@media (min-width : 320px) and (max-width : 767px)  {
	.heading-inner {
    	width: 90%;
	}
	.heading-inner::before,.heading-inner::after{
		display: none;
	}
	.slider-title {
	    font-size: 40px;
	    line-height: 60px;
	}
	.slider-content .btn-container .btn-deafult{
		margin-bottom: 20px;
	}
	.columns {
	    margin-bottom: 35px;
	}
	.columns:after{
		border: none;
	}
	.btn-container a {
	    margin-right: -1px;
	}
	.flaoting-img{
		margin: 20px 0px;
	}
}
